.idea
src/.env
_scraps
dump/dumpus

src/cakes_company/static
src/cakes_company/media

src/static

src/userinfo/migrations/*.py
!src/userinfo/migrations/__init__.py

src/main/migrations/*.py
!src/main/migrations/__init__.py
